<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.toldpro.greekbible"
    version     = "1.0" >

  <name>TOLD Greek Bible</name>

  <description>
    TOLD Greek Bible displays the Greek New Testament with color coded morphology.
    The color coding allows the reader to quickly see associated words in the greek text.

    ### Features
    - Read the Greek of any New Testament Book from the SBL Greek New Testament
    - View the details of each word:
    - View the Lemma (the root word)
    - View the Part of Speech
    - View the Morphology
    - View the color coding for the Part of Speech and Morpology to quickly see associated words

    TOLD Greek Bible is an open source app built on other open source projects.
    The Greek Bible App uses the MorphGNT parsing which is an open source parsing of the NT Greek
    The Greek Bible App uses SBL Greek New Testament as its text
  </description>

  <author href="https://toldpro.com" email="admin@toldpro.com">
    TOLD - Rick Love
  </author>

  <icon src="icon.png" />

</widget>