<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.toldpro.greekbible"
    version     = "1.0" >

  <name>TOLD Greek Bible</name>

  <description>
    TOLD Greek Bible displays the Greek New Testament with color coded morphology.
  </description>

  <author href="https://toldpro.com" email="admin@toldpro.com">
    TOLD - Rick Love
  </author>

  <icon src="icon.png" />

</widget>