<!DOCTYPE html>
@{
    var isOffline = false;

    var manifestFile = "";

    if( Request.Params["offline"] == "true" ){
        manifestFile = "AppCache.ashx?appCache=true";
        isOffline = true;
    }

    var manifestAttr = "";
    if (!string.IsNullOrWhiteSpace(manifestFile))
    {
        manifestAttr = string.Format("manifest=\"{0}\"", manifestFile);
    }
}
<html @Html.Raw(manifestAttr)>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Greek Bible</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="Styles/css/Loading.css">
</head>
<body class="loadingScreen">
@if( !isOffline ){
        <div style="display: none">
            <iframe width="1" height="1" src="AppCacheLoader.html"></iframe>
        </div>
}
    <div id="loadingScreen" class="loadingScreen">
        <div style="height: 50px"></div>
        <img src="Assets/images/mainLoader.gif" />
        <div>Loading...</div>
        <div id="loadingProgress"></div>
    </div>

    <div data-role="page" id="home" style="display: none">
        <div data-role="header">
            <h1>Greek Bible</h1>
        </div>
        <div data-role="content">
            <h3>Select Passage:</h3>
            <!--<select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>-->

            <select data-bind="options: choosePassage.bookChoices(), value:choosePassage.book, refreshJQM:choosePassage.book"></select>
            <select id="selChapter" data-bind="options: choosePassage.chapterChoices(), value:choosePassage.chapter, refreshJQM:choosePassage.chapter"></select>
            <h3><span data-bind="text: choosePassage.book() + ' ' + choosePassage.chapter()"></span></h3>
            <!--<h4><span data-bind="text: passage().entries.length"></span>&nbsp;Words</h4>-->
            <div data-bind="foreach: passage().entries">
                <!-- ko if: isVerseStart -->
                <div class="verse" data-bind="text: passageRef.verse"></div>
                <!-- /ko -->
                <div class="entry">
                    <div class="rawText" data-bind="text: rawText"></div>
                    <div class="partOfSpeechColor" data-bind="style: { backgroundColor: $root.displayPassage.getColorA(partOfSpeech.partOfSpeechCode) }"></div>
                    <div class="morphColor" data-bind="style: { backgroundColor: $root.displayPassage.getColorB(morph.morphCode) }"></div>
                    <div class="lemma" data-bind="text: lemma"></div>
                    <div class="partOfSpeechCode" data-bind="text: partOfSpeech.partOfSpeechCode, style: { color: $root.displayPassage.getColorA(partOfSpeech.partOfSpeechCode) }"></div>
                    <div class="morphCode" data-bind="text: morph.morphCode, style: { color: $root.displayPassage.getColorB(morph.morphCode) }"></div>
                    <!--<div class="entryPopupWrapper" style="display: none">
                        <div class="entryPopup" ientry="5">
                            <div class="entryPopupDebug" ientry="5"></div>
                            <div class="entryPopupText" ientry="5"></div>
                        </div>
                    </div>-->
                </div>

            </div>



            <div id="qunit"></div>
        </div>
        <div data-role="footer">
            <h4>&copy; Told - Rick Love - 2014</h4>
        </div>
    </div>

    <script type='text/javascript'>

        var text = "";
        for (var i = 0; i < 1000000; i++) {
            text += "." + i;
        }

    </script>

    <script src="Scripts/js/requirements.js"></script>

    <script type='text/javascript'>

        var onProgress = function (p) {
            var divProgress = document.getElementById("loadingProgress");
            divProgress.textContent = (p * 100).toFixed(0) + "%";
        }

        //require(['Scripts/js/requirements'], function () {
        loadRequirements(function () {
            //alert('Requirements have been loaded');

            QUnit.config.autostart = false;

            if (document.URL.indexOf("test=true") >= 0) {
                $(document).ready(function () { QUnit.start(); });
            } else {
                $(document).ready(function () { $("#qunit").remove() });
            }

            var viewModel = new Told.GreekBible.UI.MainViewModel();
            ko.applyBindings(viewModel);

            $("#home").show();
            $("#loadingScreen").hide();
            $(".loadingScreen").removeClass("loadingScreen");
        }, onProgress);


    </script>
</body>
</html>
